<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" *ngIf="courses[0] as course">

    <ng-template #blankImage let-courseName="description">
        <p class="warn">{{courseName}} has no image is available yet.</p>
        <img src="/assets/empty-image.png" alt="empty-image">
    </ng-template>
    
    <!-- pass this template to the course card instead-->
    <!-- <ng-container *ngTemplateOutlet="blankImage; context: {description: course.description}">
    </ng-container>

    <ng-container *ngTemplateOutlet="blankImage; context: {description: courses[3].description}">
    </ng-container> -->

    <course-card [noImgTemplate]="blankImage" [course]="course" (courseSelected)="onCourseSelected($event)">

       

        <course-image [imgUrl]="course.iconUrl"></course-image>

        <div class="course-description" #courseDesc>
            {{course.longDescription}}
        </div>
    </course-card>

</div>